.navbar-nav{
    margin-top: -25%;
    margin-left: 35%;
    font-family: 'Smooch Sans', sans-serif;
    font-size: xx-large;
}


h2{
    text-align: center;
    padding-bottom: 70px;
    font-family: 'Smooch Sans', sans-serif;
    font-size: xx-large;
}

.dropdown-item{
    font-size: xx-large;
    color: #343515;
}

.logo{
    height: 250px;
    width: 250px;
    margin-left: 2%;
}

.nav-link{
    color: #343515;
}

.page{
    background-color: #f8f0e3;
    height: 100%;
    width: 100%;
}

hr{
    color: #343515;
}

.title-line{
    width: 20%;
    margin-top: -70px;
    margin-bottom: 40px;
    background-color: #343515;
}